img{
    border-radius: 50px;
    height: 10vh;
}
body{
    background-size: auto 100vh;
}
.title,.topbar{
    padding:8px;
    font-size: 65px;
}
.title{
    background-image: linear-gradient(45deg,black,rgb(147, 46, 46),red,white);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}
.intro{
    color:white;
    background-color:black;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    padding:12px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #888888;
    font-family:dubai;
    font-size: 20px;
    margin-bottom: 20px;
}

#el1,#el2,#el3,#el4{
    text-align: end;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

td{
    font-family: dubai;
    font-weight: bold;
}

input,select{
    padding:5px;
    border-radius:9px;
    border:2px ridge black;
}

#t1{
    font-family:fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
}

#btn{
    text-align: center;
}

#st{
    cursor: pointer;
    font-family:fantasy;
    background-color: aqua;
    border:5px outset aqua;
    border-radius: 12px;
    font-size: 50px;
    transition: all 0.5s ease;
}

#st:hover{
    cursor: pointer;
    font-family:fantasy;
    background-color:yellow;
    border:5px outset yellow;
    border-radius: 12px;
    font-size: 40px;
    transition: all 0.5s ease;
    transform: scale(1.06);
}
